.Counter {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.Center {
    text-align: center;
}

.GreenBtn {
    background-color: green;
}

.RedBtn {
    background-color: red;
}

.Margin {
    margin: 10px 0;
}